.card {
    margin: 10px;
    text-shadow: 2px 2px 2px black;
}

ul {
    list-style-type: none;
}

li::before {
    content: "-";
    padding-right: 4px;
}

li::after {
    content: "-";
    padding-left: 4px;
}

.background {
    background: none
}

a {
    color: white
}

a:hover {
    color: #83EEFF;
}

